@model IEnumerable<Service>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Page Content -->
<div class="container">

    <!-- Item Heading -->
    <h1 class="my-4">
        @ViewData["Category"]
    </h1>

    <!-- Item Row -->
    <div class="row">

        <div class="col-md-8">
            @foreach (var s in Model)
            {
                <h3 class="my-3">@s.ServiceName</h3>
                <p>@s.Description</p>
            }
        </div>

        <div class="col-md-4">
            <img class="img-fluid" src="" alt="">
        </div>

    </div>
    <!-- /.row -->
    <!-- Before and After Pictures -->
    <h3 class="my-4">Before and After</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->